= form_with(model: artist) do |form|
  - if artist.errors.any?
    #error_explanation
      %h2
        = pluralize(artist.errors.count, "error")
        prohibited this artist from being saved:
      %ul
        - artist.errors.each do |error|
          %li= error.full_message
  %div{class: 'flex flex-col items-start gap-2 max-w-sm'}        
    .flex.flex-row.gap-2.w-full
      = form.label :name, class:'w-2/5'
      = form.text_field :name, class:'border-2 border-solid px-2 w-full'

    .flex.flex-row.gap-2.w-full
      = form.label :permalink, class:'w-2/5'
      = form.text_field :permalink, class:'border-2 border-solid w-full'
    .flex.flex-row.gap-2.w-full
      = form.label :bio, class:'w-2/5'
      = form.text_area :bio, class:'border-2 border-solid w-full'
    .flex.flex-row.gap-2.w-full
      = form.label :formed_at, class:'w-2/5'
      = form.datetime_select :formed_at
    .flex.flex-row.gap-2.w-full
      = form.label :verified, class:'w-2/5'
      = form.check_box :verified
    .flex.flex-row.gap-2.w-full
      = form.label :verified_at, class:'w-2/5'
      = form.datetime_select :verified_at
    .flex.flex-row.gap-2.w-full
      = form.label :avatar_url, class:'w-2/5'
      = form.text_area :avatar_url, class:'border-2 border-solid w-full'
    .flex.flex-row.gap-2.w-full
      = form.label :cover_photo_url, class:'w-2/5'
      = form.text_area :cover_photo_url, class:'border-2 border-solid w-full'
    .actions
      = form.submit
