%div{class: 'flex flex-col items-center gap-2'}
  %p#notice= notice
  %h1.font-bold.text-2xl
    = @artist.name
  %div
    - if @artist.avatar.attached?
      = image_tag @artist.avatar, class: 'w-full'
    - else
      = @artist.avatar 
  %p
    %strong Permalink:
    = @artist.permalink
  %p
    %strong Bio:
    = @artist.bio
  %p
    %strong Formed at:
    = @artist.formed_at
  %p
    %strong Verified:
    = @artist.verified
  %p
    %strong Verified at:
    = @artist.verified_at
  %p
    %strong Cover photo url:
    = @artist.cover_photo_url
  = link_to 'Edit', edit_artist_path(@artist)
  = link_to 'Back', artists_path
