%div{ class: 'flex flex-col items-center w-screen h-screen bg-black text-white gap-4' }
  %h1{ class: 'text-5xl' } Albums
  %div{ class: 'flex flex-row gap-10 w-4/5'}
    - @albums.each do |album|
      %div{ class:'flex flex-col items-center' }
        %div{ class:'p-4 flex flex-col items-center gap-4 w-80 text-center' }
          %h2.font-bold.text-2xl= album.name
          %div
            - if album.cover_art.attached?
              = image_tag album.cover_art, class: 'w-48 rounded-full'
            - else
              = 'No Avatar'
          %div{ class: 'flex flex-col gap-2 text-center' }
            - if album.released?
              %h1 Released
            - else  
              %h1 Not Released
          %span= album.length
          %span= album.kind 
        %div{ class: 'flex flex-row'}
          %button{ class: 'py-2 px-4 bg-blue-300 rounded' }= link_to 'Show', album
          %button{ class: 'py-2 px-4 bg-blue-300 rounded' }= link_to 'Edit', edit_album_path(album)
          %button{ class: 'py-2 px-4 bg-blue-300 rounded' }= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' }
  %button{ class: 'py-2 px-4 bg-green-500 rounded' }= link_to 'New Album', new_album_path